@import url("https://fonts.googleapis.com/css2?family=Saira:wght@400;700;800;900&display=swap");
@import "tailwindcss";

@source inline('{text,fill}-{primary,accent}');
@source inline('bg-{primary,accent,black,white,error,warning,success,neutral}');
@source inline('hover:bg-{primary,accent,black,white,error,warning,success,neutral}-hover');
@source inline('active:bg-{primary,accent,black,white,error,warning,success,neutral}-active');

@theme {
  --color-primary: #29457a;
  --color-primary-hover: #1f2d5b;
  --color-primary-active: #162045;

  --color-black: #1c1f1f;
  --color-black-hover: #2a2a2a;
  --color-black-active: #333;

  --color-white: #fff;
  --color-white-hover: #ededed;
  --color-white-active: #e4e4e4;

  --color-disabled: #c7c7c7;

  --color-background: #fff;
  --color-surface: #fff;
  --color-surface-raised: #fbfbfc;

  --color-text-accent: #f0effb;
  --color-accent: #2b70c9;
  --color-accent-hover: #205497;
  --color-accent-active: #163865;
  --color-text-link: #2b70c9;

  --color-text: #24242d;
  --color-text-weak: #383850;
  --color-text-weaker: #5f5f77;
  --color-text-weakest: #a4a4b2;

  --color-border: #e2e2ea;
  --color-border-strong: #c8c8d4;
  --color-border-hover: #5f5f77;

  --color-success-weak: #ddf9df;
  --color-success: #0f7b16;
  --color-success-hover: #0d6a13;
  --color-success-active: #0b5610;

  --color-neutral-weak: #f0effb;
  --color-neutral: #383850;
  --color-neutral-hover: #24242d;
  --color-neutral-active: #1f2d5b;

  --color-warning-weak: #fbf5d3;
  --color-warning: #b3881f;
  --color-warning-hover: #9f6e1a;
  --color-warning-active: #7f5414;

  --color-error-weak: #fdded8;
  --color-error: #a32a15;
  --color-error-hover: #8b1f12;
  --color-error-active: #6e1610;

  --color-icon: #5f5f77;
  --color-icon-hover: #24242d;

  --font-display: 'Saira', sans-serif;
}
