services:
  server:
    build:
      context: .
      dockerfile: Dockerfile
    security_opt:
      - seccomp:unconfined
      - label:disable
    ports:
      - "${SERVER_PORT}:${SERVER_PORT}"
    environment:
      - DOCKER_RUN=true
    depends_on:
      postgres_db:
        condition: service_healthy
    networks:
      - server-tier

  postgres_db:
    image: "postgres:17.4"
    networks:
      - server-tier
    volumes:
      - postgres-data:/var/lib/postgresql/data
    environment:
      - POSTGRES_DB=${POSTGRES_DB}
      - POSTGRES_USER=${POSTGRES_USER}
      - POSTGRES_PASSWORD=${POSTGRES_PASSWORD}
    ports:
      - "${POSTGRES_PORT}:5432"
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U ${POSTGRES_USER}"]
      interval: 5s
      timeout: 5s
      retries: 5
    restart: on-failure

networks:
  server-tier:

volumes:
  postgres-data:
