name: Full CI Workflow

on:
  push:
    branches:
      - main
  pull_request:

env:
  MIRROR_REPO_URL: "git@github.com:EpitechPromo2027/G-EIP-600-NAN-6-1-eip-tugdual.de-reviers.git"

jobs:
  code-quality:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup Node.js and Cache Dependencies
        uses: actions/setup-node@v3
        with:
          node-version: '23.x'
          cache: 'npm'

      - name: Run Code Quality Check
        uses: ./.github/actions/run-quality-check

  tests_run:
    needs: code-quality
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup Node.js and Cache Dependencies
        uses: actions/setup-node@v3
        with:
          node-version: '23.x'
          cache: 'npm'

      # - name: Run units tests command
      #   uses: ./.github/actions/run-units-tests - # Uncomment this line to run unit tests but they are already run by the coverage check

      - name: Run units tests coverage command
        uses: ./.github/actions/run-coverage-check

      - name: Run e2e tests command
        uses: ./.github/actions/run-e2e-tests

  push_mirror:
    needs: tests_run
    runs-on: ubuntu-latest

    # Only push to mirror if this targets main branch
    if: github.event_name == 'push' && github.ref == 'refs/heads/main'
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
        with:
          fetch-depth: 0  # fetch full history to copy everything to mirror

      - name: Push to mirror repo action
        uses: ./.github/actions/push-to-mirror
        with:
          target_repo_url: ${{ env.MIRROR_REPO_URL }}
          ssh_private_key: ${{ secrets.GIT_SSH_PRIVATE_KEY }}
