name: Unit Tests

on:
  push:
    branches:
      - main
  pull_request:

jobs:
  unit-tests:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup Node.js and Install Dependencies
        uses: ./.github/actions/setup-node-with-cache

      - name: Run units tests command
        uses: ./.github/actions/run-units-tests

      - name: Run units tests coverage command
        uses: ./.github/actions/run-coverage-check
